<h1> Informacion del persona: </h1>


<p><strong>Nombre:</strong> {{persona.nombre}}</p>
<p> <strong>Apellido:</strong> {{persona.apellido}}</p>
<p><strong>Correo:</strong> {{persona.correo}}</p>
<p><strong>Direcci&oacute;n postal:</strong> {{persona.dirpostal}}</p>
<p><strong>Instituci&oacute;n:</strong> {{persona.institucion}}</p>
<p><strong>Tel&eacute;fono:</strong> {{persona.telefono}}</p>
<p> <strong>Pa&iacute;s:</strong> {{persona.pais}}</p>
<p><strong>P&aacute;gina:</strong> {{persona.pagina}}</p>