<h1> Informacion acerca del articulo:</h1>

<p><strong>Titulo: </strong>{{ articulo.titulo }}</p>
<p><strong>Palabras Claves: </strong></p>
<ul>
{% for palabra in palabrasClavesLista %}
	<li>{{ palabra }} </li>
{% endfor %}
</ul>
<p><strong>Resumen: </strong>{{ articulo.resumen}}</p>
<p><strong>Texto: </strong>{{articulo.texto }}</p>

<p><strong>Autores:</strong></p>
<ul>
{% for autor in articulo.autores.all %}
	<li>{{autor.persona.nombre}} {{autor.persona.apellido}} - {{autor.persona.correo}}</li>
{% endfor %}
</ul>

<p><strong>Topicos:</strong></p>
<ul>
{% for topico in articulo.topicos.all %}
	<li>{{topico}}</li>
{% endfor %}
</ul>