{% extends "base.html" %}
{% block content %}
<h3> Escoga el tipo de evento que quiere crear: </h3>
{% if error_message %} <p style="color:red">{{error_message}}</p> {% endif %}
<ul>
	<li><a href="{% url 'Evento:mostrarFormEvento' 'apertura' %}">Evento de apertura.</a></li>
	<li><a href="{% url 'Evento:mostrarFormEvento' 'clausura' %}">Evento de Clausura</a></li>
	<li><a href="{% url 'Evento:mostrarFormEvento' 'taller' %}">Taller</a></li>
	<li><a href="{% url 'Evento:mostrarFormEvento' 'ponencia' %}">Ponencia</a></li>
	<li><a href="{% url 'Evento:mostrarFormEvento' 'charlaInvitada' %}">Charla Invitada</a></li>
	<li><a href="{% url 'Evento:mostrarFormEvento' 'eventoSocial' %}">Evento Social</a></li>
</ul>
<a href="{% url 'Evento:indice' %}"> Regresar al indice</a>
{% endblock %}




