{% extends "base.html" %}
{% block content %}
<h1> Informacion del evento: </h1>


<p><strong>Lugar:</strong> {{evento.lugar}}</p>
<p> <strong>Titulo:</strong> {{evento.titulo}}</p>
<p><strong>Duracion:</strong> {{evento.duracion}}</p>
<p><strong>Fecha de Inicio:</strong> {{evento.fechaIni}}</p>
<p><strong>Hora de Inicio:</strong> {{evento.horaIni}}</p>
{%if evento.topico%}
<p><strong>Topico Principal:</strong> {{evento.topico}}</p>
{% endif%}
{%if evento.articulo %}
<p><strong> Articulo:</strong> {{evento.articulo.titulo}}</p>
{%endif%}
{%if articulos%}
<p><strong> Articulos:</strong></p>
<ul>
{%for articulo in articulos %}
	<li>{{articulo.titulo}}</li>
{% endfor %}
</ul>
{%endif%}
<a href = "{% url 'Evento:mostrarArticulos' evento_tipo evento_id %}"> Asignarle articulos al evento </a>
<a href="{% url 'Evento:indice' %}"> Regresar al indice</a>

{% endblock %}
