{% extends "base.html" %}
{% block content %}
<h1> Crear un nuevo evento: </h1>

{% if error_message %} <p style="color:red">{{error_message}}</p> {% endif %}
<p><strong>Formato de fecha: aaaa-mm-dd</strong></p>
<p><strong>Formato de hora: hh:mm:ss</strong></p>

<form action="{% url 'Evento:crear' evento_tipo %}" method="post">
{% csrf_token %}
	{{form.as_p}}
	<input type = "submit" value="Crear"/>
</form>

<a href="{% url 'Evento:definirEvento' %}"> Regresar a la pagina anterior</a>
<a href="{% url 'Evento:indice' %}"> Regresar al indice</a>

{% endblock %}



