<h1> Informacion acerca de la persona invitada:</h1>

<p><strong>Nombre: </strong>{{ persona.nombre }}</p>
<p><strong>Apellido: </strong>{{ persona.apellido}}</p>
<p><strong>Correo: </strong>{{ persona.correo}}</p>
<p><strong>Dirección postal: </strong>{{persona.dirpostal}}</p>
<p><strong>Institución: </strong>{{ persona.institucion }}</p>
<p><strong>Teléfono: </strong>{{ persona.telefono}}</p>
<p><strong>País: </strong>{{ persona.pais}}</p>
<p><strong>Página: </strong>{{persona.pagina}}</p>

<br />
<hr color=#0000> 
<br />
<h2>Currículum Vitae</h2>
<p>{{ invitado.cv }}</p>