{% extends "base.html" %}
{% block content %}
<h1>Introduzca el email del miembro de comite que <br/>
	que quiere desempatar: </h1>
	
{% if error_message %} <p><strong>{{error_message}} </strong></p> {% endif %}
{%if vistaSiguiente == 'desempatar'%}
<form action="{% url 'Conferencia:comprobarPresidente' 'desempatar' %}" method="post">
{%else%}
<form action="{% url 'Conferencia:comprobarPresidente' 'especiales' %}" method="post">
{%endif%}
{% csrf_token %}
	{{form.as_p}}
<input type = "submit" value="Comprobar"/>
</form>
{% endblock %}
